@import url(theme.css);

body {
    margin: 0;
    padding: 0;
    background: var(--bg-secondary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
}

* {
    box-sizing: border-box;
}

.material-icons, .material-icons-outlined, .material-icons-round {
    user-select: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    outline: none;
    color: currentColor;
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.icon {
    font-size: 25px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 200px;
    transition: background 0.5s;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background: var(--bg-light);
    outline: none;
}

.line {
    display: block;
    height: 0.5px;
    width: 100%;
    background: var(--bg-light);
    margin: 10px 0;
}

.hexagon {
    transform: rotate(90deg);
}


.javascript {
    color: var(--javascript);
}

.html {
    color: var(--html);
}

.php {
    color: var(--php);
}

.css {
    color: var(--css);
}

.python {
    color: var(--python);
}

.typescript {
    color: var(--typescript);
}

.dart {
    color: var(--dart);
}

.ruby {
    color: var(--ruby);
}

.java {
    color: var(--java);
}

.javascript-bg {
    background: var(--javascript);
}

.html-bg {
    background: var(--html);
}

.php-bg {
    background: var(--php);
}

.css-bg {
    background: var(--css);
}

.python-bg {
    background: var(--python);
}

.typescript-bg {
    background: var(--typescript);
}

.dart-bg {
    background: var(--dart);
}

.ruby-bg {
    background: var(--ruby);
}

.java-bg {
    background: var(--java);
}
